/node_modules
node_modules
/storage/*.key
/vendor
.env
.gitattributes
.idea
Thumbs.db
/znotes
_ide_helper.php
.phpstorm.meta.php
/config/ide-helper.php
/config/debugbar.php
.env.behat
.env.production
.env.development
codeception.yml
storage/app/classifications/*
storage/app/exports/*
storage/app/imports/*
storage/app/images/*
storage/app/reports/*
storage/app/scratch/*
public/storage
/resources/assets/vendor

tests/_output/
backups
biospex-heat-map.json
laravel-echo-server.json
panoptes-pusher.js

