/node_modules
node_modules
/storage/*.key
/vendor
/public/vendor
/A-Notes
storage/cmd.txt
storage/testing
storage/app/classifications/*
storage/app/exports/*
storage/app/imports/*
storage/app/images/*
storage/app/reports/*
storage/app/scratch/*
storage/nova-resource-generator.json
storage/oauth-private.key
storage/oauth-public.key
storage/routes.json
public/storage
public/js/working.js
public/css/working.css
/resources/assets/vendor
/lang/.translation_io
tests/_output/
backups

Biospex

chart-image.js
zipExport.js
codeception.yml
.gitattributes
.idea
Thumbs.db
_ide_helper.php
.phpstorm.meta.php
/config/ide-helper.php
yarn-error.log
/.phpunit.result.cache
/laravel-echo-server.lock
lang/.translation_io
image-process.js
panoptes-pusher.js
/.env
/.env.*
