/node_modules
node_modules
/storage/*.key
/vendor
.env
.env.production
.gitattributes
.idea
Thumbs.db
/biospex-notes
_ide_helper.php
.phpstorm.meta.php
/config/ide-helper.php
/config/debugbar.php
.env.behat
.env.production
.env.development
codeception.yml
storage/scratch/*
storage/classifications/*
storage/exports/*
storage/imports/*
storage/images/*

/resources/assets/vendor

tests/_output/
backups
biospex-heat-map.json
laravel-echo-server.json
panoptes-pusher.js

