APP_NAME="Example Name"
APP_DOMAIN="example.org"
APP_URL="https://example.org"
APP_ENV="production"
APP_KEY="random key"
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_CURRENT_PATH=/path/on/server
APP_SERVER_USER=server user
APP_REGISTRATION=true or false

API_DOMAIN="api.example.org"
API_URL="https://api.example.org"
API_VERSION="v1"
API_TOKEN=""

#Random configs
EXPEDITION_SIZE=
ADMIN_GROUP=Admin
ADMIN_GROUP_ID=
ADMIN_USER_ID=
OCR_DISABLE=false

# Keys
NOVA_LICENSE_KEY=""
TRANSLATIONIO_KEY=""
RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""

LOG_CHANNEL=single

# AWS IAM biospex keys
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION=""

#AWS Lambda function
AWS_LAMBDA_EXPORT_FUNCTION=
AWS_LAMBDA_EXPORT_COUNT=
AWS_LAMBDA_OCR_FUNCTION=
AWS_LAMBDA_OCR_COUNT=
AWS_LAMBDA_RECONCILIATION_FUNCTION=

#AWS S3 and EFS DIRS
AWS_BUCKET="bucket name"
BATCH_DIR="batch"
EXPORT_DIR="export"
IMPORT_DIR="import"
REPORT_DIR="report"
SCRATCH_DIR="scratch"
ZOONIVERSE_DIRECTORY=""
GEOLOCATE_DIR=""

# S3 Upload Paths
UPLOAD_PROJECT_LOGOS="uploads/projects/logos"
UPLOAD_EXPEDITION_LOGOS="uploads/expeditions/logos"
UPLOAD_EXPEDITION_LOGOS_MEDIUM="uploads/expeditions/logos/medium"
UPLOAD_EXPEDITION_LOGOS_ORIGINAL="uploads/expeditions/logos/original"
UPLOAD_PROFILE_AVATARS="uploads/profiles/avatars"
UPLOAD_PROFILE_AVATARS_SMALL="uploads/profiles/avatars/small"
UPLOAD_PROFILE_AVATARS_MEDIUM="uploads/profiles/avatars/medium"
UPLOAD_PROFILE_AVATARS_ORIGINAL="uploads/profiles/avatars/original"
UPLOAD_RESOURCES="uploads/resources"
UPLOAD_PROJECT_RESOURCES_DOWNLOADS="uploads/project-resources/downloads"
UPLOAD_PROJECT_RESOURCES_BASE="uploads/project-resources"

# Lada-cache
LADA_CACHE_ACTIVE=true
LADA_CACHE_PREFIX=any-cache-name:

# Queue
LARAVEL_QUEUE_DRIVER=beanstalkd
QUEUE_NUM_PROCS=1
QUEUE_CHART=chart
QUEUE_CLASSIFICATION=classification
QUEUE_DEFAULT=default
QUEUE_EVENT=event
QUEUE_EXPORT=export
QUEUE_GEOLOCATE=geolocate
QUEUE_IMPORT=import
QUEUE_LAMBDA_OCR=lambdaocr
QUEUE_BIOSPEX_EVENT=biospexevent
QUEUE_PUSHER_CLASSIFICATION=pusherclassification
QUEUE_PUSHER_HANDLER=pusherhandler
QUEUE_WEDIGBIO_EVENT=wedigbioevent
QUEUE_PUSHER_PROCESS=pusherprocess
QUEUE_RECONCILE=reconcile
QUEUE_SNS_IMAGE_EXPORT=snsimageexport
QUEUE_SNS_RECONCILIATION=snsreconciliation
QUEUE_SNS_TESSERACT_OCR=snstesseractocr
QUEUE_WORKFLOW=workflow

SESSION_DOMAIN=".example.org"
SESSION_DRIVER=memcached
SESSION_LIFETIME=240

BROADCAST_DRIVER=pusher

CACHE_DRIVER=redis
REDIS_HOST=0.0.0.0
REDIS_PASSWORD=null
REDIS_PORT=9999

PUSHER_APP_ID=example
PUSHER_APP_KEY=example-pusher
PUSHER_APP_SECRET=""
PUSHER_APP_CLUSTER=mt1
PUSHER_HOST="0.0.0.0"
PUSHER_PORT=9999
PUSHER_SCHEME=http

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

DB_LOG=false
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=name
DB_USERNAME=username
DB_PASSWORD=password

MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_USERNAME=''
MONGODB_PASSWORD=''
MONGODB_DATABASE=database

# Development Example
MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_ENCRYTPION=tls
MAIL_USERNAME=user
MAIL_PASSWORD=pass
MAIL_PRETEND=false
MAILGUN_DOMAIN=mail.example.org
MAILGUN_SECRET="secret-key"

# Production Example
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYTPION=tls
MAIL_USERNAME=email@gmail.com
MAIL_PASSWORD=password
MAIL_FROM_ADDRESS=email@gmail.com
MAIL_FROM_NAME="${APP_NAME}"


POLL_OCR_CHANNEL="ocr"
POLL_EXPORT_CHANNEL="export"
POLL_SCOREBOARD_CHANNEL="scoreboard"
POLL_BINGO_CHANNEL="bingo"
POLL_WEDIGBIO_PROGRESS_CHANNEL="wedigbio-progress"

ZOONIVERSE_ACTOR_ID=

ZOONIVERSE_SKIP_API=
ZOONIVERSE_SKIP_RECONCILE=
ZOONIVERSE_RECONCILE_PROBLEM_REGEX="/No (?:select|text) match on|Only 1 transcript in|There was 1 number in/i"
ZOONIVERSE_PARTICIPATE_URL=https://www.zooniverse.org/projects/PROJECT_SLUG/classify?workflow=WORKFLOW_ID
ZOONIVERSE_PROJECT_URL=https://www.zooniverse.org/projects/PROJECT_SLUG
ZOONIVERSE_EOL_SEARCH=http://www.eol.org/search?q=SCIENTIFIC_NAME
ZOONIVERSE_MOL_SEARCH=https://www.mol.org/species/SCIENTIFIC_NAME
ZOONIVERSE_IDIGBIO_SEARCH=https://www.idigbio.org/portal/search?rq={%22scientificname%22:%22SCIENTIFIC_NAME%22}

ZOONIVERSE_PANOPTES_CLIENT_ID=
ZOONIVERSE_PANOPTES_CLIENT_SECRET=
ZOONIVERSE_PANOPTES_REDIRECT_URI=""
ZOONIVERSE_PANOPTES_URI=
ZOONIVERSE_PANOPTES_TOKEN_URI=
ZOONIVERSE_PANOPTES_SCOPES=""

ZOONIVERSE_PUSHER_ID=""
ZOONIVERSE_TALK_API=""

# https://coge.geo-locate.org/api
# token (required) - user-assigned API token
# cname (required) - name of community for which to get stats
# dname - name of data source for which to get stats
# uname - username of user for whom to get stats
GEOLOCATE_UNAME=
GEOLOCATE_TOKEN=
GEOLOCATE_STATS_URI=
GEOLOCATE_DOWNLOAD_URI=
GEOLOCATE_ACTOR_ID=
GEOLOCATE_WORKFLOW_ID=
