// Bootstrap css
@import "~bootstrap/scss/bootstrap";

//@import "~slick-carousel/slick/slick";
// Hamburgers menu
@import "~hamburgers/_sass/hamburgers/hamburgers";

// biospex main
@import "../css/main.scss";
