
#toast-container > div {
    opacity: .95;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
    filter: alpha(opacity=95);
}

td.button-fix {
    width: 70px;
}

h5.widget-user-email a {
    color: #ffffff;
}

.action-fix{
    bottom: 15px;
    position: relative;
    top: 10px;
    left: 10px;

}

.form-group.required .control-label:after { content:" *"; color:#ff0000; }

a.status-1 {
    font-weight: bold;
}

.btn-box-tool:hover {
    cursor: pointer;
}


ul.source, ul.target {
    min-height: 50px;
    margin: 0px 25px 10px 0px;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    list-style-type: none;
    list-style-position: inside;
}

.red {
    color: #FF0000;
}