.container, .container-fluid {
    padding-top: 50px;
}

.top5 {
    margin-top: 5px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top20 {
    margin-top: 20px;
}

.top25 {
    margin-top: 25px;
}

.top30 {
    margin-top: 30px;
}

#home-content {
    background: url(../images/x-reverse.png) no-repeat center top -1px;
}

.home h2 {
    color: #8dc63f;
    font-size: 18px;
    font-weight: bold;
    margin: 45px 0 10px 0;
}

.home label {
    color: #999;
    font-weight: normal;
    display: block;
}

.home input[type="text"], .home #mce-EMAIL {
    width: 200px;
}

h2.mailchimp {
    margin-top: 90px;
}

/*
p a {
    color: #c00;
}

p a:hover {
    color: #f00;
}
*/

#splash {
    background: url(../images/home-map.jpg);
    height: 300px;
    width: 100%;
    padding: 25px 0 0 0;
    margin: 40px 0px 0px 0px;
}

#splash img {
    margin-left: 90px;
}

#splash h1 {
    color: #241d4e !important;
    font-size: 20px;
    font-weight: bold;
    margin-left: 90px;
}

#banner {
    background-position: top left;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 250px;
    -moz-background-size: 100% 250px;
    -o-background-size: 100% 250px;
    background-size: 100% 250px;
    margin-top: 45px;
    height: 250px;
}

#banner img {
    margin: 20px 0px 0px 20px;
}


.form-group.required .control-label:after {
    content: " *";
    color: #ff0000;
}

.form-group label {
    font-weight: bold;
}


#logo-list {
    margin-right: 0;
    padding: 0;
}

#logo-list li {
    display: inline;
    padding: 0;
    width: 80px;
}

#social-list {
    float: right;
    width: 120px;
}

#social-list li {
    float: left;
    list-style: none;
    width: 40px;
}

#footer-home {
    margin-top: 305px;
    margin-bottom: 25px;
}

.home #footer-home {
    margin-top: 35px;
    margin-bottom: 25px;
}

.participate {
    display: inline-block;
    background: #be1e2d;
    font-weight: 900;
    color: #fff;
    font-size: 28px;
    line-height: 26px;
    padding: 10px 15px 5px;
    margin: 20px 0;
    text-transform: uppercase
}

.participate span {
    color: #231c50;
}

.participate:hover {
    color: #231c50;
    text-decoration: none;
}

.participate:hover span {
    color: #fff;
}

.description {
    font-size: 130%;
    line-height: 150%;
    font-style: italic;
    margin-bottom: 15px;
}

.complete {
    background: #ccc;
    width: 100px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete100 {
    background-color: #43ac6a;
    width: 100px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete95 {
    background-color: #43ac6a;
    width: 95px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete90 {
    background-color: #43ac6a;
    width: 90px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete85 {
    background-color: #43ac6a;
    width: 85px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete80 {
    background-color: #43ac6a;
    width: 80px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete75 {
    background-color: #43ac6a;
    width: 75px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete70 {
    background-color: #43ac6a;
    width: 70px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete65 {
    background-color: #e99002;
    width: 65px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete60 {
    background-color: #e99002;
    width: 60px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete55 {
    background-color: #e99002;
    width: 55px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete50 {
    background-color: #e99002;
    width: 50px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete45 {
    background-color: #e99002;
    width: 45px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete40 {
    background-color: #e99002;
    width: 40px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete35 {
    background-color: #e99002;
    width: 35px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete30 {
    background-color: #e99002;
    width: 30px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete25 {
    background-color: #f04124;
    width: 25px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete20 {
    background-color: #f04124;
    width: 20px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete15 {
    background-color: #f04124;
    width: 15px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete10 {
    background-color: #f04124;
    width: 10px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.complete5 {
    background-color: #f04124;
    width: 5px;
    display: inline-block;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.eyesright {
    float: right;
}

/** jqGrid **/
.ui-jqgrid .ui-jqgrid-view input,
.ui-jqgrid .ui-jqgrid-view select,
.ui-jqgrid .ui-jqgrid-view textarea,
.ui-jqgrid .ui-jqgrid-view button {
    font-size: .9em;
}

.ui-jqgrid tr.ui-row-ltr td.thumbPreview {
    text-align: center;
    vertical-align: middle;
}

.ui-jqgrid tr.ui-row-ltr td.thumbPreview a {
    display: inline-block;
    margin: 0 5px 0 5px;
}

.ui-th-column {
    text-align: center;
}

.ui-th-ltr {
    background-color: #E4E4E0;
    color: #000;
}

table.th-center th {
    text-align: center;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

td span.fa-folder, span.fa-folder-open {
    cursor: pointer;
}

td.form-view-data > span > div {
    max-height: 150px;
    overflow: auto
}

#model-body img {
    display: block;
    margin: auto;
}

td.ocrPreview {
    cursor: pointer;
}

/*
td.buttons-sm {
    width: 410px;
}
*/

td.buttons-smxs {
    width: 250px;
}

td.buttons-xs {
    width: 180px;
}

.modal.fade:not(.in).left .modal-dialog {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.modal-open .modal, a.noClick:focus {
    outline: none !important
}

/*
.red {
    color: #FF0000;
}
*/

.processes span.title {
    font-weight: bold;
}

.processes {
    margin-bottom: 10px;
}

.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
}

.row-flex-wrap {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex: 0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
    margin: -.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div, .row-flex > div[class*='col-'] div {
    width: 100%;
}

.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
    flex-flow: column nowrap;
}

.flex-grow {
    display: flex;
    -webkit-flex: 2;
    flex: 2;
}

.tab-content {
    margin-top: 5px;
}

h5.panel-user-username {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

h6.panel-user-email a {
    color: #fff;
}

h2.project-page-header {
    color: #8dc63f;
    font-size: 18px;
    font-weight: bold;
    margin: 45px 0 10px 0;
}

/* Begin */

.user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px
}

.navbar-nav > li.notactive > a.preventDefault,
.navbar-nav > li.notactive > a.preventDefault:hover,
.navbar-nav > li.notactive > a.preventDefault:focus {
    color: #fff;
    text-decoration: none;
    background-color: #3c3c39;
    outline: none;
}

.navbar-nav > .notifications-menu > .dropdown-menu {
    width: 280px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li {
    position: relative;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 12px;
    background-color: #fff;
    padding: 7px 10px;
    border-bottom: 1px solid #eeeeee;
    color: #444 !important;
    text-align: center;
}


.organizers dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0 0 10px 0;
}

.organizers dt {
    float: left;
    width: 10%;
    padding: 0;
    margin: 0;
}

.organizers dd {
    float: left;
    text-align: left;
    width: 90%;
    padding: 0;
    margin: 0;
}

.organizers dd, dt {
    line-height: 30px;
}

.vertical-center {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel {
    width: 650px;
    margin-top: 50px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 75%;
    height: 135px;
    margin: auto;
}

.carousel-inner > .item > .carousel-caption h3 {
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 3px 3px 5px rgba(68, 68, 68, 1);
}

.wysihtml5-toolbar {

}

div.recent-projects-pane {
    height: 300px;
    overflow-y: scroll;
    width: 100%;
}

ul.recent-projects {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.project-text {
    padding-left: 2em
}

div.recent-projects-footer {
    text-align: center;
    background-color: #f5f8fa;
    border-top: none;
}

div.stats {
    font-size: medium;
    font-weight: bold;
    color: #325D88;
    margin-bottom: 10px;
}

div.stats-number {
    font-size: large;
}

div#transcribers {
    height: 400px;
    overflow: scroll;
}

div#transcribers table {
    width: 100%;
}

div.panel-title i {
    cursor: pointer;
}

div#chartTranscriptionsDiv {
    height: 500px;
}


[data-notify="container"][class*="alert-"] > [data-notify="title"] {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

[data-notify="container"][class*="alert-"] > [data-notify="message"] {
    font-weight: 400;
    font-size: 18px;
}


/* Bootstrap style support */
.ui-multiselect ul.selected {
    height: 500px;
}
.ui-multiselect ul.available {
    height: 500px;
}

.ui-jqgrid.ui-jqgrid-bootstrap {
    border: 1px solid #ddd;
    -ms-border-radius: 6px;
    border-radius: 6px;
}
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view > .ui-jqgrid-toppager {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view > .ui-userdata {
    background-color: #f0f0f0;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-hdiv,
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-legacy-subgrid > thead {
    background-color: #e5e5e5;
}
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view > .ui-jqgrid-sdiv td {
    background-color: #f9f9f9
}
.ui-jqdialog.ui-jqgrid-bootstrap > .modal-dialog {
    margin-top: 0;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-titlebar .ui-jqgrid-title,
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-errorbar .ui-jqgrid-error,
.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-titlebar .ui-jqdialog-title {
    font-size: 20px;
}
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view {
    font-size: 16px;
}
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view .fa,
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-pager .fa {
    font-size: 18px;
}
.ui-jqdialog.ui-jqgrid-bootstrap {
    font-size: 18px;
}
.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-content .CaptionTD {
    padding: .5em;
}
.ui-jqgrid.ui-jqgrid-bootstrap .frozen-bdiv.ui-jqgrid-bdiv .ui-jqgrid-btable {
    background-color: white;
}
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgfirstrow > td,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow > td,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgroup > td,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqfoot > td {
    padding: .2em .3em;
}
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgfirstrow > td {
    padding: 0 .3em;
}
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgfirstrow > td.td_cbox,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow > td.td_cbox {
    padding: 0;
}
.ui-jqgrid.ui-jqgrid-bootstrap .jqgrow > td > .cbox {
    height: 18px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-btable td.jqgrid-rownum {
    padding: .2em .3em;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-caption,
.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-titlebar {
    background-color: #cacaca;
    -ms-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -ms-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
}

.modal-backdrop.jqgrid-overlay {
    -ms-opacity: .35;
    opacity: .35;
    -webkit-filter: Alpha(Opacity=35);
    -moz-filter: Alpha(Opacity=35);
    -o-filter: Alpha(Opacity=35);
    filter: Alpha(Opacity=35);
}

.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-content {
    border: 0;
    padding: .3em .2em;
    background: white;
    height: auto;
}
.ui-jqdialog.ui-jqgrid-bootstrap .modal-dialog {
    width: auto;
}
.ui-jqdialog.ui-widget {
    overflow: hidden;
}
.ui-jqdialog  .ui-resizable-handle {
    cursor: se-resize;
    position: absolute;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-jqdialog.ui-jqgrid-bootstrap .modal-content {
    overflow: hidden;
}
.ui-jqdialog.ui-jqgrid-bootstrap .modal-content > .ui-resizable-handle.fa {
    bottom: 1px;
    right: 1px;
    height: 12px;
    width: 12px;
}
.ui-jqdialog.ui-jqgrid-bootstrap .modal-content > .ui-resizable-handle.glyphicon {
    right: -.4em;
}

.ui-jqgrid.ui-jqgrid-bootstrap .disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
}
.ui-jqgrid-bootstrap.ui-jqgrid-resize-mark {
    border: 1px solid #aaaaaa;
    background-color: #cccccc;
    color: #222222;
    font-weight: bold;
}
.ui-jqgrid .jqgfirstrow {
    border-bottom: 0 none;
    border-top: 0 none;
    height: 0;
}
.ui-jqgrid.ui-jqgrid-bootstrap .jqgfirstrow td {
    border-bottom: 0 none;
    border-top: 0 none;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-pg-table .ui-pg-button.ui-state-disabled:hover {
    margin: 0;
}
.ui-jqgrid.ui-jqgrid-bootstrap .navtable .ui-pg-button.ui-state-disabled:hover {
    margin: 0;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-pg-table .ui-pg-button {
    margin: .2em 0;
    padding: .2em 0;
    border-radius: .4em;
}
.ui-search-input .form-control:not([size]):not([multiple]) {
    height: 18px;
}
.ui-search-input input[type=text] {
    padding: 0;
}
.ui-search-input input[type=text].form-control {
    padding: 0 .3em;
}
.ui-search-input select.form-control {
    padding: 0;
}
.ui-search-input input[type=checkbox].form-control {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    background: 0 transparent;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-actions .ui-pg-div.btn {
    padding: 0;
    margin: 0;
    box-shadow: none;
}
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow .sgbutton-div .sgbutton.btn {
    padding: 0;
    cursor: pointer;
    border: 1px solid transparent;
    margin: -.3em -.3em;
}
.ui-jqgrid.ui-jqgrid-bootstrap .sgbutton-div .sgbutton.btn:focus,
.ui-jqgrid.ui-jqgrid-bootstrap .sgbutton-div .sgbutton.btn:hover {
    border: 1px solid #333;
}
.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-pager-control .ui-pg-input {
    display: inline-block;
    font-size: 12px;
    padding: .3em;
}
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-pager {
    font-size: 12px;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bootstrap-corner-top {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bootstrap-corner-bottom {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-pager-control .ui-pg-selbox {
    font-size: 12px;
    padding: 0;
}
.ui-jqdialog.ui-jqgrid-bootstrap .FormData .CaptionTD {
    font-size: 14px;
}
.FormData .DataTD {
    vertical-align: middle;
}
.FormData .DataTD input[type="checkbox"] {
    width: auto;
    vertical-align: middle;
}
.ui-jqdialog.ui-jqgrid-bootstrap .FormData .DataTD input.form-control[type="checkbox"] {
    width: 34px; /* change width:100% to the width the same like the height */
}
.DelTable .delmsg {
    padding: .2em;
}
.queryresult {
    margin-bottom: 1em;
}
.group.modal-content tr td {
    padding: .2em .1em;
}
.searchFilter .form-control {
    padding: .1em;
}
.searchFilter .form-control:not([size]):not([multiple]) {
    height: 22px;
}
.ui-jqgrid .searchFilter table.group td {
    padding: 1px;
}
.ui-jqgrid .searchFilter table {
    border-spacing: 2px;
}
.ui-jqdialog.ui-jqgrid-bootstrap .modal-header .close {
    margin-top: -0.7em;
}
.ui-jqdialog .glyphicon,
.ui-jqgrid .glyphicon {
    font-size: 12px;
    top: auto;
}
.ui-jqdialog.ui-jqgrid-bootstrap .glyphicon,
.ui-jqgrid.ui-jqgrid-bootstrap .glyphicon {
    font-size: 14px;
    top: auto;
    height: 1em;
    width: 1.28em;
}
.ui-jqgrid .ui-pg-button span.glyphicon {
    display: inline-block;
    text-align: center;
    /*margin-left: auto;
    margin-right: auto;
    padding: 0 .1em;*/
    vertical-align: middle;
}
.ui-jqgrid-actions .glyphicon {
    padding: .1em;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close > span.glyphicon {
    margin-top: -.125em;
    margin-left: -.275em;
}
.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-titlebar  > .ui-jqdialog-titlebar-close > span.glyphicon {
    margin-top: -.1em;
    margin-left: -.28em;
}
.tree-wrap > .treeclick {
    line-height: 1;
}
.tree-wrap > .treeclick.glyphicon {
    margin-top: -.2em;
    font-size: 12px;
}
.subgrid-data .ui-jqgrid-bootstrap .ui-jqgrid-hdiv .ui-jqgrid-htable,
.subgrid-data .ui-jqgrid-bootstrap .ui-jqgrid-bdiv .ui-jqgrid-btable {
    background-color: transparent;
}
.subgrid-data .ui-jqgrid-legacy-subgrid  {
    margin: 0;
}

/* Google translate */
.goog-te-gadget-icon {display:none;}
.goog-te-gadget-simple a {text-decoration: none !important;}

.goog-te-banner-frame.skiptranslate {display: none !important;}
body { top: 0px !important; }

.nav li.translate {
    margin-top: 12px;
    margin-right: 10px;
}