.header.home:before {
    background: none;
}

.header-admin {
    background: linear-gradient(90deg,#406288 0,#21304c 99%);
}

hr.header {
    border: 1px solid rgba(232, 63, 41, 1) !important;
}

.card-deck .card {
    max-width: calc(25% - 30px);
}

.faq.card {
    background-color: #eeeff9;
}
.faq.btn-link, .faq.btn-link:hover {
    font-weight: bold;
    color: #7287a5;
    background-color: transparent;
    text-decoration: none;
    white-space:normal !important;
    word-wrap: break-word;
}

#slider1_container {
    width: auto;
    margin: 30px 50px 50px;
}
#slider1_container img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
