/* Bootstrap style support */
.ui-multiselect ul.selected {
    height: 500px;
}

.ui-multiselect ul.available {
    height: 500px;
}

.ui-jqgrid.ui-jqgrid-bootstrap {
    border: 1px solid #ddd;
    -ms-border-radius: 6px;
    border-radius: 6px;
}

.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view > .ui-jqgrid-toppager {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view > .ui-userdata {
    background-color: #f0f0f0;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-hdiv,
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-legacy-subgrid > thead {
    background-color: #e5e5e5;
}

.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view > .ui-jqgrid-sdiv td {
    background-color: #f9f9f9
}

.ui-jqdialog.ui-jqgrid-bootstrap > .modal-dialog {
    margin-top: 0;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-titlebar .ui-jqgrid-title,
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-errorbar .ui-jqgrid-error,
.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-titlebar .ui-jqdialog-title {
    font-size: 20px;
}

.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view {
    font-size: 16px;
}

.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view .fa,
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-pager .fa {
    font-size: 18px;
}

.ui-jqdialog.ui-jqgrid-bootstrap {
    font-size: 18px;
}

.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-content .CaptionTD {
    padding: .5em;
}

.ui-jqgrid.ui-jqgrid-bootstrap .frozen-bdiv.ui-jqgrid-bdiv .ui-jqgrid-btable {
    background-color: white;
}

.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgfirstrow > td,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow > td,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgroup > td,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqfoot > td {
    padding: .2em .3em;
}

.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgfirstrow > td {
    padding: 0 .3em;
}

.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgfirstrow > td.td_cbox,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow > td.td_cbox {
    padding: 0;
}

.ui-jqgrid.ui-jqgrid-bootstrap .jqgrow > td > .cbox {
    height: 18px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-btable td.jqgrid-rownum {
    padding: .2em .3em;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-caption,
.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-titlebar {
    background-color: #cacaca;
    -ms-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -ms-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
}

.modal-backdrop.jqgrid-overlay {
    -ms-opacity: .35;
    opacity: .35;
    -webkit-filter: Alpha(Opacity=35);
    -moz-filter: Alpha(Opacity=35);
    -o-filter: Alpha(Opacity=35);
    filter: Alpha(Opacity=35);
}

.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-content {
    border: 0;
    padding: .3em .2em;
    background: white;
    height: auto;
}

.ui-jqdialog.ui-jqgrid-bootstrap .modal-dialog {
    width: auto;
}

.ui-jqdialog.ui-widget {
    overflow: hidden;
}

.ui-jqdialog .ui-resizable-handle {
    cursor: se-resize;
    position: absolute;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-jqdialog.ui-jqgrid-bootstrap .modal-content {
    overflow: hidden;
}

.ui-jqdialog.ui-jqgrid-bootstrap .modal-content > .ui-resizable-handle.fa {
    bottom: 1px;
    right: 1px;
    height: 12px;
    width: 12px;
}

.ui-jqdialog.ui-jqgrid-bootstrap .modal-content > .ui-resizable-handle.glyphicon {
    right: -.4em;
}

.ui-jqgrid.ui-jqgrid-bootstrap .disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
}

.ui-jqgrid-bootstrap.ui-jqgrid-resize-mark {
    border: 1px solid #aaaaaa;
    background-color: #cccccc;
    color: #222222;
    font-weight: bold;
}

.ui-jqgrid .jqgfirstrow {
    border-bottom: 0 none;
    border-top: 0 none;
    height: 0;
}

.ui-jqgrid.ui-jqgrid-bootstrap .jqgfirstrow td {
    border-bottom: 0 none;
    border-top: 0 none;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-pg-table .ui-pg-button.ui-state-disabled:hover {
    margin: 0;
}

.ui-jqgrid.ui-jqgrid-bootstrap .navtable .ui-pg-button.ui-state-disabled:hover {
    margin: 0;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-pg-table .ui-pg-button {
    margin: .2em 0;
    padding: .2em 0;
    border-radius: .4em;
}

.ui-search-input .form-control:not([size]):not([multiple]) {
    height: 18px;
}

.ui-search-input input[type=text] {
    padding: 0;
}

.ui-search-input input[type=text].form-control {
    padding: 0 .3em;
}

.ui-search-input select.form-control {
    padding: 0;
}

.ui-search-input input[type=checkbox].form-control {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    background: 0 transparent;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-actions .ui-pg-div.btn {
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow .sgbutton-div .sgbutton.btn {
    padding: 0;
    cursor: pointer;
    border: 1px solid transparent;
    margin: -.3em -.3em;
}

.ui-jqgrid.ui-jqgrid-bootstrap .sgbutton-div .sgbutton.btn:focus,
.ui-jqgrid.ui-jqgrid-bootstrap .sgbutton-div .sgbutton.btn:hover {
    border: 1px solid #333;
}

.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-pager-control .ui-pg-input {
    display: inline-block;
    font-size: 12px;
    padding: .3em;
}

.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-pager {
    font-size: 12px;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bootstrap-corner-top {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bootstrap-corner-bottom {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-pager-control .ui-pg-selbox {
    font-size: 12px;
    padding: 0;
}

.ui-jqdialog.ui-jqgrid-bootstrap .FormData .CaptionTD {
    font-size: 14px;
}

.FormData .DataTD {
    vertical-align: middle;
}

.FormData .DataTD input[type="checkbox"] {
    width: auto;
    vertical-align: middle;
}

.ui-jqdialog.ui-jqgrid-bootstrap .FormData .DataTD input.form-control[type="checkbox"] {
    width: 34px; /* change width:100% to the width the same like the height */
}

.DelTable .delmsg {
    padding: .2em;
}

.queryresult {
    margin-bottom: 1em;
}

.group.modal-content tr td {
    padding: .2em .1em;
}

.searchFilter .form-control {
    padding: .1em;
}

.searchFilter .form-control:not([size]):not([multiple]) {
    height: 22px;
}

.ui-jqgrid .searchFilter table.group td {
    padding: 1px;
}

.ui-jqgrid .searchFilter table {
    border-spacing: 2px;
}

.ui-jqdialog.ui-jqgrid-bootstrap .modal-header .close {
    margin-top: -0.7em;
}

.ui-jqdialog .glyphicon,
.ui-jqgrid .glyphicon {
    font-size: 12px;
    top: auto;
}

.ui-jqdialog.ui-jqgrid-bootstrap .glyphicon,
.ui-jqgrid.ui-jqgrid-bootstrap .glyphicon {
    font-size: 14px;
    top: auto;
    height: 1em;
    width: 1.28em;
}

.ui-jqgrid .ui-pg-button span.glyphicon {
    display: inline-block;
    text-align: center;
    /*margin-left: auto;
    margin-right: auto;
    padding: 0 .1em;*/
    vertical-align: middle;
}

.ui-jqgrid-actions .glyphicon {
    padding: .1em;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close > span.glyphicon {
    margin-top: -.125em;
    margin-left: -.275em;
}

.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-titlebar > .ui-jqdialog-titlebar-close > span.glyphicon {
    margin-top: -.1em;
    margin-left: -.28em;
}

.tree-wrap > .treeclick {
    line-height: 1;
}

.tree-wrap > .treeclick.glyphicon {
    margin-top: -.2em;
    font-size: 12px;
}

.subgrid-data .ui-jqgrid-bootstrap .ui-jqgrid-hdiv .ui-jqgrid-htable,
.subgrid-data .ui-jqgrid-bootstrap .ui-jqgrid-bdiv .ui-jqgrid-btable {
    background-color: transparent;
}

.subgrid-data .ui-jqgrid-legacy-subgrid {
    margin: 0;
}