// Navbar
$navbar-default-bg: #3c3c39;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: #232322;
$navbar-default-link-active-color: darken($navbar-default-link-color, 6.5%);
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);


